* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
}

a,
ul,
li,
button {
  text-decoration: none;
  list-style: none;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  padding: 20px 40px;
  color: white;
  background-color: #DD2242;
  border-radius: 30px;
  margin-left: 10%;
}

.container {
  max-width: 1919px;
  padding: 0 15px;
}

.swiper .swiper-initialized .swiper-horizontal .swiper-backface-hidden {
  width: 80%;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 100%), url(../img/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  width: 40%;
  margin-left: 10%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 130px;
  color: white;
}
.hero__btn {
  margin-top: 20px;
}
.hero__bottom {
  display: flex;
  padding-top: 250px;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}
.hero__description_container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.hero__description_box {
  justify-content: space-between;
  padding: 40px;
}
.hero__text {
  width: 70%;
}

.nav {
  display: flex;
  padding-top: 28px;
}
.nav__list {
  display: flex;
  padding-left: 62px;
}
.nav__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: white;
}
.nav__list_item:not(:last-child) {
  padding-right: 62px;
}
.nav__right {
  margin-left: auto;
}
.nav__search {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.burger {
  position: relative;
  left: -50px;
  top: -26px;
  cursor: pointer;
}

.burger-span {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: white;
}

.burger-span::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: white;
  top: 45%;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(10px);
}

.burger-span::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: white;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(5.5px);
}

.info__top {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 100px 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(rgba(1, 10, 32, 0.65) 0%, rgb(1, 10, 32) 100%), url(../img/info-bg.jpg);
}
.info__top_left {
  background-image: url(../img/info-bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 100%;
}
.info__top_right {
  padding-left: 130px;
}
.info__top_title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: white;
}
.info__top_text {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.info__bottom {
  display: flex;
  padding: 100px 200px;
  background: linear-gradient(rgb(1, 10, 32) 0%, rgba(1, 10, 32, 0.65) 100%), url(../img/info-bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.info__bottom_left {
  padding-right: 10%;
}
.info__bottom_right {
  width: 100%;
  background-image: url(../img/info-bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.info__bottom_title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: white;
}
.info__bottom_text {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.explore {
  background-image: url(../img/explore-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1800px;
}
.explore__top {
  padding-bottom: 800px;
}
.explore__bottom {
  margin-top: 690px;
  padding-top: 50px;
  background: linear-gradient(rgb(1, 10, 32) 0%, rgba(1, 10, 32, 0.65) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.explore__numbers_top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.explore__numbers_title {
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
}
.explore__numbers_text {
  text-align: center;
  margin-left: 26%;
  width: 50%;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.explore__numbers_number {
  color: rgb(221, 34, 66);
  padding-left: 27%;
  font-style: normal;
  font-weight: 700;
  font-size: 42.1375px;
  line-height: 49px;
}
.explore__numbers_bottom {
  display: flex;
  padding-left: 50px;
}
.explore__numbers_descr {
  width: 70%;
  padding-bottom: 200px;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.explore__title {
  padding-top: 65px;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  color: rgb(1, 10, 32);
}
.explore__container {
  padding: 0;
  margin: 0;
}

.swiper {
  margin-top: 30px;
  width: 90%;
  height: 300px;
}

.swiper-slide {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.slide1 {
  background-image: url(../img/slide1.jpg);
}

.slide2 {
  background-image: url(../img/slide2.jpg);
}

.slide3 {
  background-image: url(../img/slide3.jpg);
}

.slide4 {
  background-image: url(../img/slide1.jpg);
}

.slide5 {
  background-image: url(../img/slide2.jpg);
}

.slide6 {
  background-image: url(../img/slide3.jpg);
}

.numbers {
  background-image: url(../img/blue.jpg);
}

.valleys {
  display: flex;
  justify-content: center;
  background-image: url(../img/valleys.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.valleys__title {
  width: 50%;
  text-align: center;
  padding-top: 250px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
}
.valleys__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgb(111, 119, 135);
}/*# sourceMappingURL=style.css.map */