@mixin backGround {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

$gap: 2rem;

$white-color: white;
$dark-blue-color: rgb(1, 10, 32);
;

* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans';
}


a,
ul,
li,
button {
    text-decoration: none;
    list-style: none;
    border: none;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.btn {
    cursor: pointer;
    padding: 20px 40px;
    color: $white-color;
    background-color: #DD2242;
    border-radius: 30px;
}

.bnt:focus-visible {
    outline: none;
}

.btn:focus {
    outline: none;
}

.container {
    max-width: 1919px;
    padding: 0 15px;
}

.iframe {
    border-radius: 10px;

}

.hero {
    background: linear-gradient(rgb(0, 0, 0, .2)0, rgb(0, 0, 0, .2)100%), url(../img/hero_bg.jpg);
    @include backGround;


    &__title {
        width: 40%;
        margin-left: 10%;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 900;
        font-size: 120px;
        line-height: 130px;
        color: $white-color;
    }

    &__btn {
        margin-left: 10%;
    }

    &__bottom {
        display: flex;
        padding-top: 250px;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
    }

    &__description_container {
        display: flex;
        background-color: rgb(1, 10, 32, .4);
        ;
        color: $white-color;
        border-radius: 10px;
    }

    &__description_box {
        justify-content: space-between;
        padding: 40px;
    }

    &__text {
        width: 70%;
    }

}

.nav {
    display: flex;
    padding-top: 28px;

    &__list {
        display: flex;
        padding-left: 62px;
    }

    &__link {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: $white-color;
    }

    &__list_item:not(:last-child) {
        padding-right: 62px;
    }

    &__right {
        margin-left: auto;
    }

    &__search {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
}

.burger {
    position: relative;
    left: -50px;
    top: -26px;
    cursor: pointer;
}

.burger-span {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: $white-color;
}

.burger-span::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: $white-color;
    top: 45%;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(10px);
}

.burger-span::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: $white-color;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(5.5px);
}

.info__top {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 100px 200px;
    @include backGround;
    background: linear-gradient(rgba(1, 10, 32, .65) 0%, rgb(1, 10, 32) 100%), url(../img/info-bg.jpg);

    &_left {
        width: 50%;
        background-image: url(../img/info-bg1.jpg);
        @include backGround;
        border-radius: 10px;
    }

    &_right {
        padding-left: 10%;
        text-align: center;
    }

    &_title {
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        color: $white-color;
    }

    &_text {
        margin: $gap;
        color: $white-color;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

}

.info__bottom {
    display: flex;
    padding: 100px 200px;
    background: linear-gradient(rgb(1, 10, 32, ) 0%, rgba(1, 10, 32, .65) 100%), url(../img/info-bg3.jpg);
    @include backGround;

    &_left {
        text-align: center;
        padding-right: 10%;
    }

    &_right {
        width: 50%;
        background-image: url(../img/info-bg2.jpg);
        @include backGround;
        border-radius: 10px;
    }

    &_title {
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        color: $white-color;
    }

    &_text {
        margin: $gap;
        color: $white-color;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
}

.explore {
    background-image: url(../img/explore-bg.jpg);
    @include backGround;

    &__top {
        padding-bottom: 800px;

    }

    &__bottom {
        margin-top: 690px;
        padding-top: 50px;
        background: linear-gradient(rgb(1, 10, 32) 0%, rgba(1, 10, 32, .65) 100%);
        @include backGround;
    }

    &__numbers_top {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__numbers_title {
        text-align: center;
        color: $white-color;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 150%;
    }

    &__numbers_text {
        text-align: center;
        margin-left: 26%;
        width: 50%;
        color: $white-color;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    &__numbers_number {
        color: rgba(221, 34, 66, 1);
        padding-left: 27%;
        font-style: normal;
        font-weight: 700;
        font-size: 42.1375px;
        line-height: 49px;
    }

    &__numbers_bottom {
        display: flex;
        padding-left: 50px;
    }

    &__numbers_descr {
        width: 70%;
        padding-bottom: 200px;
        text-align: center;
        color: $white-color;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    &__title {
        padding: 60px 0;
        text-align: center;
        font-weight: 700;
        font-size: 50px;
        line-height: 150%;
        color: rgba(1, 10, 32, 1);
    }

    &__container {
        padding: 0;
        margin: 0;
    }

}

.swiper {
    margin-top: 30px;
    width: 90%;
    height: 300px;
}

.swiper-slide {
    width: 400px;
    height: 250px;
    @include backGround;
    border-radius: 10px;
}

@keyframes anim {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(5px);
    }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: $white-color;
    animation: anim .2s ease infinite alternate;
}


.slide1 {
    background-image: url(../img/slide1.jpg);
}

.slide2 {
    background-image: url(../img/slide2.jpg);
}

.slide3 {
    background-image: url(../img/slide3.jpg);
}

.slide4 {
    background-image: url(../img/slide1.jpg);
}

.slide5 {
    background-image: url(../img/slide2.jpg);
}

.slide6 {
    background-image: url(../img/slide3.jpg);
}

.numbers {
    background-image: url(../img/blue.jpg);



}

.valleys {
    position: relative;

    &__container {
        display: flex;
    }

    &__box {
        position: absolute;
        width: 40%;
        left: 29%;
        padding-bottom: 250px;
        text-align: center;
    }

    &__title {
        text-align: center;
        padding-top: 250px;
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
    }

    &__text {
        margin: $gap;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: rgba(111, 119, 135, 1);

    }

    &__left {
        width: 100%;
        height: 100%;
        padding-bottom: 820px;
        top: 0;
        background: url(../img/valleys.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__right {
        width: 100%;
        height: 100%;
        padding-bottom: 820px;
        background: url(../img/valleys2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

}

.life {
    &__container {
        background: linear-gradient(rgba(1, 10, 32, 0.65) 0%, rgba(1, 10, 32, .65) 100%), url(../img/life.jpg);
        @include backGround;
    }

    &__top {
        width: 80%;
    }

    &__title {
        padding: 100px 405px;
        text-align: center;
        color: $white-color;
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
    }

    &__video {
        display: flex;
        justify-content: center;
    }

    &__bottom {
        display: flex;
        justify-content: space-around;
    }

    &__box {
        flex-direction: column;
        padding: 0 250px;
        margin: 100px 0 100px 50px;
        background-image: url(../img/life.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        border-radius: 10px;
    }

    &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: $white-color;
    }

    &__descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: rgba($color: $white-color, $alpha: .5);
    }

}

.gallery {

    padding-bottom: 150px;

    &__title {
        padding-top: 180px;
        color: $dark-blue-color;
        text-align: center;
        font-weight: 700;
        font-size: 60px;
        line-height: 150%;
    }

    &__text {
        text-align: center;
        margin: $gap;
        padding: 0 550px;
        color: rgb(51, 51, 51, .7);
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    &__picture {
        background-image: url(../img/gallery.jpg);
        @include backGround;
        height: 100vh;
        margin: 0 250px;
        border-radius: 10px;
    }
}

.getting {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(220, 232, 242, 1);

    &__container {
        padding: 0 450px 100px 450px;

    }

    &__title {
        color: $dark-blue-color;
        padding: 71px 0 10px 20%;
        font-weight: 700;
        font-size: 60px;
        line-height: 150%;
    }

    &__title::after {
        content: '';
        position: absolute;
        left: 22%;
        width: 2px;
        height: 54%;
        bottom: 27%;
        background-color: rgba(21, 20, 57, 0.4);

    }

    &__subtitle {
        font-weight: 700;
        font-size: 26.4091px;
        line-height: 41px;
    }

    &__subtitle::after {
        content: '';
        position: absolute;
        left: 20.5%;
        width: 60px;
        height: 60px;
        background-color: #DD2242;
        border-radius: 50%;
        transform: translateY(-10px);
    }

    &__box_subtitle {
        font-weight: 700;
        font-size: 26.4091px;
        line-height: 41px;
        padding-bottom: 35px;
    }

    &__box {
        padding: 0 0 0 450px;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 23.4747px;
        line-height: 38px;
        color: rgba(21, 20, 57, 0.4);
    }

    &_number {
        position: absolute;
        color: white;
        font-size: 32px;
    }

    &__box_img {
        position: absolute;
        width: 19%;
        height: 17%;
        left: 29%;
        top: 52.5%;
        background-image: url(../img/getting.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 10px;
    }

}

.number1 {
    left: 21.8%;
    top: 14.2%;
}

.number2 {
    left: 21.6%;
    top: 31.7%;
}

.number3 {
    left: 21.6%;
    top: 70%;
}

.footer {
    background-color: $dark-blue-color;
    padding: $gap;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
    }

    &__list_link {
        color: $white-color;
        padding-left: 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    &__social_link {
        color: $white-color;
        padding-left: 30px;
        font-size: 25px;
    }

    &__copyright {
        color: $white-color;
    }
}