* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
}

a,
ul,
li,
button {
  text-decoration: none;
  list-style: none;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  padding: 20px 40px;
  color: white;
  background-color: #DD2242;
  border-radius: 30px;
}

.bnt:focus-visible {
  outline: none;
}

.btn:focus {
  outline: none;
}

.container {
  max-width: 1919px;
  padding: 0 15px;
}

.iframe {
  border-radius: 10px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.2) 100%), url(../img/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  width: 40%;
  margin-left: 10%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 130px;
  color: white;
}
.hero__btn {
  margin-left: 10%;
}
.hero__bottom {
  display: flex;
  padding-top: 250px;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}
.hero__description_container {
  display: flex;
  background-color: rgba(1, 10, 32, 0.4);
  color: white;
  border-radius: 10px;
}
.hero__description_box {
  justify-content: space-between;
  padding: 40px;
}
.hero__text {
  width: 70%;
}

.nav {
  display: flex;
  padding-top: 28px;
}
.nav__list {
  display: flex;
  padding-left: 62px;
}
.nav__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: white;
}
.nav__list_item:not(:last-child) {
  padding-right: 62px;
}
.nav__right {
  margin-left: auto;
}
.nav__search {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.burger {
  position: relative;
  left: -50px;
  top: -26px;
  cursor: pointer;
}

.burger-span {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: white;
}

.burger-span::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: white;
  top: 45%;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(10px);
}

.burger-span::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: white;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(5.5px);
}

.info__top {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 100px 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(rgba(1, 10, 32, 0.65) 0%, rgb(1, 10, 32) 100%), url(../img/info-bg.jpg);
}
.info__top_left {
  width: 50%;
  background-image: url(../img/info-bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.info__top_right {
  padding-left: 10%;
  text-align: center;
}
.info__top_title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: white;
}
.info__top_text {
  margin: 2rem;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.info__bottom {
  display: flex;
  padding: 100px 200px;
  background: linear-gradient(rgb(1, 10, 32) 0%, rgba(1, 10, 32, 0.65) 100%), url(../img/info-bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.info__bottom_left {
  text-align: center;
  padding-right: 10%;
}
.info__bottom_right {
  width: 50%;
  background-image: url(../img/info-bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.info__bottom_title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: white;
}
.info__bottom_text {
  margin: 2rem;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.explore {
  background-image: url(../img/explore-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.explore__top {
  padding-bottom: 800px;
}
.explore__bottom {
  margin-top: 690px;
  padding-top: 50px;
  background: linear-gradient(rgb(1, 10, 32) 0%, rgba(1, 10, 32, 0.65) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.explore__numbers_top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.explore__numbers_title {
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
}
.explore__numbers_text {
  text-align: center;
  margin-left: 26%;
  width: 50%;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.explore__numbers_number {
  color: rgb(221, 34, 66);
  padding-left: 27%;
  font-style: normal;
  font-weight: 700;
  font-size: 42.1375px;
  line-height: 49px;
}
.explore__numbers_bottom {
  display: flex;
  padding-left: 50px;
}
.explore__numbers_descr {
  width: 70%;
  padding-bottom: 200px;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.explore__title {
  padding: 60px 0;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  color: rgb(1, 10, 32);
}
.explore__container {
  padding: 0;
  margin: 0;
}

.swiper {
  margin-top: 30px;
  width: 90%;
  height: 300px;
}

.swiper-slide {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

@keyframes anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5px);
  }
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: white;
  animation: anim 0.2s ease infinite alternate;
}

.slide1 {
  background-image: url(../img/slide1.jpg);
}

.slide2 {
  background-image: url(../img/slide2.jpg);
}

.slide3 {
  background-image: url(../img/slide3.jpg);
}

.slide4 {
  background-image: url(../img/slide1.jpg);
}

.slide5 {
  background-image: url(../img/slide2.jpg);
}

.slide6 {
  background-image: url(../img/slide3.jpg);
}

.numbers {
  background-image: url(../img/blue.jpg);
}

.valleys {
  position: relative;
}
.valleys__container {
  display: flex;
}
.valleys__box {
  position: absolute;
  width: 40%;
  left: 29%;
  padding-bottom: 250px;
  text-align: center;
}
.valleys__title {
  text-align: center;
  padding-top: 250px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
}
.valleys__text {
  margin: 2rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgb(111, 119, 135);
}
.valleys__left {
  width: 100%;
  height: 100%;
  padding-bottom: 820px;
  top: 0;
  background: url(../img/valleys.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.valleys__right {
  width: 100%;
  height: 100%;
  padding-bottom: 820px;
  background: url(../img/valleys2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.life__container {
  background: linear-gradient(rgba(1, 10, 32, 0.65) 0%, rgba(1, 10, 32, 0.65) 100%), url(../img/life.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.life__top {
  width: 80%;
}
.life__title {
  padding: 100px 405px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
}
.life__video {
  display: flex;
  justify-content: center;
}
.life__bottom {
  display: flex;
  justify-content: space-around;
}
.life__box {
  flex-direction: column;
  padding: 0 250px;
  margin: 100px 0 100px 50px;
  background-image: url(../img/life.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  border-radius: 10px;
}
.life__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: white;
}
.life__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
}

.gallery {
  padding-bottom: 150px;
}
.gallery__title {
  padding-top: 180px;
  color: rgb(1, 10, 32);
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
}
.gallery__text {
  text-align: center;
  margin: 2rem;
  padding: 0 550px;
  color: rgba(51, 51, 51, 0.7);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.gallery__picture {
  background-image: url(../img/gallery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0 250px;
  border-radius: 10px;
}

.getting {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(220, 232, 242);
}
.getting__container {
  padding: 0 450px 100px 450px;
}
.getting__title {
  color: rgb(1, 10, 32);
  padding: 71px 0 10px 20%;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
}
.getting__title::after {
  content: "";
  position: absolute;
  left: 22%;
  width: 2px;
  height: 54%;
  bottom: 27%;
  background-color: rgba(21, 20, 57, 0.4);
}
.getting__subtitle {
  font-weight: 700;
  font-size: 26.4091px;
  line-height: 41px;
}
.getting__subtitle::after {
  content: "";
  position: absolute;
  left: 20.5%;
  width: 60px;
  height: 60px;
  background-color: #DD2242;
  border-radius: 50%;
  transform: translateY(-10px);
}
.getting__box_subtitle {
  font-weight: 700;
  font-size: 26.4091px;
  line-height: 41px;
  padding-bottom: 35px;
}
.getting__box {
  padding: 0 0 0 450px;
}
.getting__text {
  font-style: normal;
  font-weight: 400;
  font-size: 23.4747px;
  line-height: 38px;
  color: rgba(21, 20, 57, 0.4);
}
.getting_number {
  position: absolute;
  color: white;
  font-size: 32px;
}
.getting__box_img {
  position: absolute;
  width: 19%;
  height: 17%;
  left: 29%;
  top: 52.5%;
  background-image: url(../img/getting.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.number1 {
  left: 21.8%;
  top: 14.2%;
}

.number2 {
  left: 21.6%;
  top: 31.7%;
}

.number3 {
  left: 21.6%;
  top: 70%;
}

.footer {
  background-color: rgb(1, 10, 32);
  padding: 2rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
}
.footer__list_link {
  color: white;
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.footer__social_link {
  color: white;
  padding-left: 30px;
  font-size: 25px;
}
.footer__copyright {
  color: white;
}/*# sourceMappingURL=style.css.map */